# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Data
data/raw/*.csv
data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl
models/*.joblib
models/*.h5
!models/.gitkeep

# MLflow
mlruns/
mlartifacts/

# DVC
.dvc/cache/
.dvc/tmp/

# Optuna
*.db

# Logs
*.log

# Environment
.env
# Project Archives
project_final.zip
